body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.img_div {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;  /* You can adjust the size as needed */
    height: 300px; /* Keep width and height equal */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

.button_div {
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.Footer {
    color: #777;
    margin-top: 20px;
    font-family: cursive;
}

